/*form {
  border: 2px solid black;
  position: block;
  width: 200px;
  height: 250px;
  background-color: orange;
}

//I ended up not using any stying, just trying to get the JQuery to work

label {
  margin: 5px;
  float: left;
}

input#username {
  float: right;
  margin: 5px;
}

input#password {
  float: right;
  margin: 5px;
}

input#date {
  float: right;
  margin: 5px;
}

#submit-style {
  float: right;
}

input {
  float: right;
}*/